<p [ngClass]="{active: isActive}">
  {{ player?.name || 'Player' }} {{ player?.score || 0 }}
</p>

<div>Fouls {{player?.consecutiveFouls || 0 }}</div>
<div>High Run {{player?.highRun || 0 }}</div>
<div>Total Fouls {{player?.totalFouls || 0 }}</div>
<div>Total Misses {{player?.totalMisses || 0 }}</div>
<div>Total Safeties {{player?.totalSafeties || 0 }}</div>
<div>Total Successful Safeties {{player?.totalSuccessfulSafeties || 0 }}</div>
<div>Total Finished Racks {{player?.totalFinishedRacks || 0 }}</div>
<div>Total Errors {{player?.totalErrors || 0 }}</div>