<app-player style="display:inline-block" [player]="game.players[0]" [isActive]="game.currentPlayer === game.players[0]"></app-player>
<app-player style="display:inline-block" [player]="game.players[1]" [isActive]="game.currentPlayer === game.players[1]"></app-player>

<div>
  <form *ngIf="!game.hasWinner">
    <button type="button" (click)="newRack(0)">0</button>
    <button type="button" (click)="newRack(1)">1</button>
    <input type="radio"
           name="balls{{i}}"
           *ngFor="let i of [2,3,4,5,6,7,8,9,10,11,12,13,14,15]" 
           [value]="i" 
           [(ngModel)]="ballsRemaining"
           [disabled]="game.ballsRemaining < i">
    <br/>
    <button type="button" (click)="miss()">Miss</button>
    <button type="button" (click)="safety()">Safety</button>
    <button type="button" (click)="foul()">Foul</button>
    <button type="button" *ngIf="game.isOpeningBreak" (click)="breakingFoul()">Breaking Foul</button>
    <button type="button" *ngIf="game.canSwitchPlayers" (click)="game.switchPlayers()">Switch players</button>
    <button type="button" *ngIf="game.canForceRerack" (click)="game.endTurn('ForceRerack')">Re-rack</button>
  </form>
</div>
