<mat-label>
  What is the game limit?
</mat-label>
<mat-slider thumbLabel [(ngModel)]="params.raceTo" max="200" min="0" step="5" tickInterval="10">
</mat-slider>

<div style="display: flex; flex-direction: row;">
  <div>
    <mat-form-field>
      <input matInput [(ngModel)]="params.player0Name" type="text" placeholder="Player 1 name" />
    </mat-form-field>

    <!-- <mat-slider thumbLabel [(ngModel)]="params.player0Handicap" [max]="params.raceTo" min="0" step="1" tickInterval="10">
    </mat-slider> -->
  </div>

  <div>
    <mat-form-field>
      <input matInput [(ngModel)]="params.player1Name" type="text" placeholder="Player 2 name" />
    </mat-form-field>

    <!-- <mat-slider thumbLabel [(ngModel)]="params.player1Handicap" [max]="params.raceTo" min="0" step="1" tickInterval="10">
    </mat-slider> -->
  </div>
</div>

<button (click)="createGame()" mat-fab color="primary" style="position: fixed; bottom:16px;right:16px">
  <mat-icon aria-label="Start this game">play_arrow</mat-icon>
</button>
