:host {
  display:flex;
  flex-direction: column;
}

.activePlayer {
  background: #673ab7;
  color: white;
}

.onTwoFouls {
  color: red;
}

.activePlayer.onTwoFouls {
  background: red;
  color: white;
}

.actionButtons {
  text-align: center;
}

.actionButtons button {
  margin: 5px;
}

.turnList {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.turn {
  border-radius: 20px;
  padding: 5px;
  min-width: 100px;
  margin: 5px;
  position: relative;
}

.turn.player0 {
  align-self: flex-start;
  border-top-left-radius: 0px;
  text-align: left;
}

.turn.player1 {
  align-self: flex-end;
  border-top-right-radius: 0px;
  text-align: right;
}

/* These styles *almost* add "pointers" to the bubbles
   but they're kindof ugly right now
.turn:after {
  content: '';
  position: absolute;
  top: -1px;
  width: 0;
  height: 0;
  border: 5px solid;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-top: 0;
}

.turn.player0:after {
  left: -1px;
  border-left-color: transparent;
  border-left: 0;
  margin-left: -5px;
}

.turn.player1:after {
  right: -1px;
  border-right-color: transparent;
  border-right: 0;
  margin-right: -5px;
}
*/

.turn .points {
  border-radius: 50%;
  padding: 3px;
  font-size: x-small;
  border: 1px solid;
  min-width: 12px;
  text-align: center;
}

.turn.player0 .points {
  float: right;
  margin-left: 5px;
}

.turn.player1 .points {
  float: left;
  margin-right: 5px;
}

.turn.Miss {
  background: lightgray;
  border: 1px solid gray;
}

.turn.Foul, .turn.BreakingFoul {
  background: white;
  border: 1px solid red;
  color: red;
}

.turn.Safety, .turn.ForceRerack  {
  background: yellow;
  border: 1px solid gold;
}

.turn.NewRack {
  background: lightgreen;
  border: 1px solid forestgreen;
}

.turn.BreakingFoul {
  font-style: italic;
}

.turn.ThreeConsecutiveFouls {
  background: red;
  color: white;
  border: 1px solid red;
}

.turn.ForceRerack {
  font-style: italic;
}
