<mat-toolbar color="accent">
  <mat-label style="flex:1;" *ngIf="includeHandicap; else handicap">
    Race to {{ game?.pointLimit }}
  </mat-label>
  <ng-template #handicap>
      <mat-label style="flex:1;">
        Race to {{ game?.pointLimit - game?.players[0]?.handicapPoints }} : {{ game?.pointLimit - game?.players[1]?.handicapPoints }}
      </mat-label>
  </ng-template>
  <mat-slide-toggle [checked]="includeHandicap" (change)="toggleHandicap()" color="primary">
    Include handicap
  </mat-slide-toggle>
</mat-toolbar>

<mat-grid-list cols="9" rowHeight="7:11" role="list">
  <mat-grid-tile *ngIf="game?.players[0] as p" colspan="4" role="listitem" [ngClass]="{ activePlayer: game.currentPlayer === p, onTwoFouls: game.getPlayerStatsByPlayer(p).consecutiveFouls == 2 }">
    <div style="text-align: center; width:100%;" *ngIf="game.getPlayerStatsByPlayer(p) as stats">
      <div style="position:absolute; right:5px; top:0px; float:right; display: flex; flex-direction: column; font-size:small; justify-content: space-evenly; height:100%;">
        <div>{{stats.highRun | number:'1.0-0'}}</div>
        <div>{{stats.avgBallsPerTurn | number:'1.0-2'}}</div>
      </div>
      <div style="text-align: center; font-size: small; margin-bottom: 5px;">{{ p.name }}</div>
      <div style="font-size: 20pt">{{ includeHandicap ? stats.scoreWithHandicap : stats.score }}</div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div style="text-align: center; display: flex; flex-direction: column; font-size:small; justify-content: space-evenly; height:100%;">
      <div>Max</div>
      <div>Avg</div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile *ngIf="game?.players[1] as p" colspan="4" role="listitem" [ngClass]="{ activePlayer: game.currentPlayer === p, onTwoFouls: game.getPlayerStatsByPlayer(p).consecutiveFouls == 2 }">
    <div style="text-align: center; width:100%;" *ngIf="game.getPlayerStatsByPlayer(p) as stats">
      <div style="position:absolute; left:5px; top:0px; float:left; display: flex; flex-direction: column; font-size:small; justify-content: space-evenly; height:100%;">
        <div>{{stats.highRun | number:'1.0-0'}}</div>
        <div>{{stats.avgBallsPerTurn | number:'1.0-2'}}</div>
      </div>
      <div style="text-align: center; font-size: small; margin-bottom: 5px;">{{ p.name }}</div>
      <div style="font-size: 20pt">{{ includeHandicap ? stats.scoreWithHandicap : stats.score }}</div>
    </div>
  </mat-grid-tile>
</mat-grid-list>

<mat-tab-group mat-stretch-tabs #gameTabs id="game-tabs" (selectedIndexChange)="gameTabChanged($event)">
  <mat-tab label="Game">
    <app-game-win-screen style="padding-bottom: 60px;" [game]="game" [includeHandicap]="includeHandicap" *ngIf="game?.hasWinner; else scoring"></app-game-win-screen>
    <div *ngIf="game?.hasWinner" style="position:fixed; width: 100%; bottom: 16px; margin-left:auto; margin-right: auto; text-align: center;">
      <button mat-mini-fab
        type="button" color="primary"
        *ngIf="game?.canUndo"
        (click)="undo()">
        <mat-icon>undo</mat-icon>
      </button>
    </div>
    <ng-template #scoring>
      <app-game-scoring [game]="game" [includeHandicap]="includeHandicap" (gameChanged)="gameChanged($event)"></app-game-scoring>
    </ng-template>
  </mat-tab>
  <mat-tab label="Stats">
    <app-players [game]="game"></app-players>
  </mat-tab>
  <mat-tab label="Details">
    <div class="turnList">
      <div *ngFor="let turn of game?.turns" class="turn" [ngClass]="['player'+turn.playerIndex, turn.ending]">
        <span class="ending">{{ turn.ending }}</span>
        <span class="points">{{ turn.totalPoints }}</span>
      </div>
    </div>
    <div style="position:fixed; width: 100%; bottom: 16px; margin-left:auto; margin-right: auto; text-align: center;">
      <button mat-icon-button
        type="button" color="primary"
        *ngIf="game?.canUndo"
        (click)="undo()">
        <mat-icon>undo</mat-icon>
      </button>
    </div>
  </mat-tab>
</mat-tab-group>
