<mat-toolbar color="accent">
  <mat-label style="flex:1;" *ngIf="includeHandicap; else handicap">
    Race to {{ game?.pointLimit }}
  </mat-label>
  <ng-template #handicap>
      <mat-label style="flex:1;">
        Race to {{ game?.pointLimit - game?.players[0]?.handicapPoints }} : {{ game?.pointLimit - game?.players[1]?.handicapPoints }}
      </mat-label>
  </ng-template>
  <mat-slide-toggle [checked]="includeHandicap" (change)="toggleHandicap()" color="primary">
    Include handicap
  </mat-slide-toggle>
</mat-toolbar>

<mat-grid-list cols="9" rowHeight="7:11" role="list">
  <mat-grid-tile *ngIf="game?.players[0] as p" colspan="4" role="listitem" [ngClass]="{ activePlayer: game.currentPlayer === p, onTwoFouls: game.getPlayerStatsByPlayer(p).consecutiveFouls == 2 }">
    <div style="text-align: center; width:100%;" *ngIf="game.getPlayerStatsByPlayer(p) as stats">
      <div style="position:absolute; right:5px; top:0px; float:right; display: flex; flex-direction: column; font-size:small; justify-content: space-evenly; height:100%;">
        <div>{{stats.highRun | number:'1.0-0'}}</div>
        <div>{{stats.avgBallsPerTurn | number:'1.0-2'}}</div>
      </div>
      <div style="text-align: center; font-size: small; margin-bottom: 5px;">{{ p.name }}</div>
      <div style="font-size: 20pt">{{ includeHandicap ? stats.scoreWithHandicap : stats.score }}</div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div style="text-align: center; display: flex; flex-direction: column; font-size:small; justify-content: space-evenly; height:100%;">
      <div>Max</div>
      <div>Avg</div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile *ngIf="game?.players[1] as p" colspan="4" role="listitem" [ngClass]="{ activePlayer: game.currentPlayer === p, onTwoFouls: game.getPlayerStatsByPlayer(p).consecutiveFouls == 2 }">
    <div style="text-align: center; width:100%;" *ngIf="game.getPlayerStatsByPlayer(p) as stats">
      <div style="position:absolute; left:5px; top:0px; float:left; display: flex; flex-direction: column; font-size:small; justify-content: space-evenly; height:100%;">
        <div>{{stats.highRun | number:'1.0-0'}}</div>
        <div>{{stats.avgBallsPerTurn | number:'1.0-2'}}</div>
      </div>
      <div style="text-align: center; font-size: small; margin-bottom: 5px;">{{ p.name }}</div>
      <div style="font-size: 20pt">{{ includeHandicap ? stats.scoreWithHandicap : stats.score }}</div>
    </div>
  </mat-grid-tile>
</mat-grid-list>

<mat-tab-group mat-stretch-tabs #gameTabs id="game-tabs" (selectedIndexChange)="gameTabChanged($event)">
  <mat-tab label="Game">
    <div *ngIf="game?.hasWinner; else scoring" class="winning">
      <div style="width:100%; padding-bottom: 60px;">
        <h1>{{ game.winner.name || 'Player ' + (game.currentPlayerIndex + 1) }} is the winner!</h1>
        Stats and details are available above
        <hr/>
        <app-chart-score [game]="game" [includeHandicap]="includeHandicap"></app-chart-score>
        <hr/>
        <app-chart-dist [game]="game"></app-chart-dist>
      </div>
      <div style="position:fixed; width: 100%; bottom: 16px; margin-left:auto; margin-right: auto; text-align: center;">
        <button mat-mini-fab
          type="button" color="primary"
          *ngIf="game?.canUndo"
          (click)="undo()">
          <mat-icon>undo</mat-icon>
        </button>
      </div>
    </div>
    <ng-template #scoring>
      <mat-grid-list cols="5" rowHeight="1:1">
        <mat-grid-tile>
          <button type="button" *ngIf="(game?.ballsRemaining - ballsToWin) === 1; else renew" mat-mini-fab (click)="win(1)" color="accent">
            <mat-icon>done_outline</mat-icon>
          </button>
          <ng-template #renew>
            <button type="button" mat-mini-fab (click)="newRack(1)" [disabled]="(game?.ballsRemaining - ballsToWin) > 1">
              <mat-icon>autorenew</mat-icon>
            </button>
          </ng-template>
        </mat-grid-tile>
        <mat-grid-tile *ngFor="let i of [2,3,4,5,6,7,8,9,10,11,12,13,14,15]">
          <button type="button" *ngIf="(game?.ballsRemaining - ballsToWin) === i; else notWinning" mat-mini-fab name="balls{{i}}" (click)="win(i)" color="accent">
            <mat-icon>done_outline</mat-icon>
          </button>
          <ng-template #notWinning>
            <button type="button" mat-mini-fab name="balls{{i}}" (click)="setBallsRemaining(i)" [color]="ballsRemaining == i ? 'primary' : 'accent'"
              [disabled]="game?.ballsRemaining < i || (i < game?.ballsRemaining - ballsToWin)">{{i}}</button>
          </ng-template>
        </mat-grid-tile>
      </mat-grid-list>
      <div class="actionButtons">
        <table style="margin-left:auto;margin-right:auto;">
          <tr>
            <td>
              <button mat-raised-button type="button" color="warn" (click)="foul()">Foul</button>
            </td>
            <td>
              <button mat-raised-button type="button" color="primary" (click)="miss()">Miss</button>
            </td>
            <td>
              <button mat-raised-button type="button" color="accent" (click)="safety()">Safety</button>
            </td>
          </tr>
          <tr style="height:52px;">
            <td>
              <button mat-stroked-button type="button" color="warn" *ngIf="game?.isOpeningBreak && ballsRemaining === 15" id="breakingFoul"
                (click)="breakingFoul()">Breaking</button>
            </td>
            <td>
              <button mat-icon-button type="button" color="primary" *ngIf="game?.canUndo" (click)="undo()">
                <mat-icon>undo</mat-icon>
              </button>
            </td>
            <td>
              <button mat-stroked-button type="button" color="accent" *ngIf="game?.canSwitchPlayers && ballsRemaining === 15" id="switchPlayers"
                (click)="game.switchPlayers()">Switch</button>
              <button mat-stroked-button type="button" color="accent" *ngIf="game?.canForceRerack && ballsRemaining === 15" id="forceRerack"
                (click)="endTurn('ForceRerack')">Re-rack</button>
            </td>
          </tr>
        </table>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab label="Stats">
    <app-players [game]="game"></app-players>
  </mat-tab>
  <mat-tab label="Details">
    <div class="turnList">
      <div *ngFor="let turn of game?.turns" class="turn" [ngClass]="['player'+turn.playerIndex, turn.ending]">
        <span class="ending">{{ turn.ending }}</span>
        <span class="points">{{ turn.totalPoints }}</span>
      </div>
    </div>
    <div style="position:fixed; width: 100%; bottom: 16px; margin-left:auto; margin-right: auto; text-align: center;">
      <button mat-icon-button
        type="button" color="primary"
        *ngIf="game?.canUndo"
        (click)="undo()">
        <mat-icon>undo</mat-icon>
      </button>
    </div>
  </mat-tab>
</mat-tab-group>
