<div *ngIf="!(games | async)?.length; else list" class="empty">
  <div>
    <img src="assets/icons/icon-144x144.png"/>
    <h1>No games yet</h1>
    <div>Games that you create will show up here.</div>
  </div>
</div>

<ng-template #list>
  <app-home-card *ngFor="let g of games | async" [game]="g" (deleting)="deleteGame($event.id)"></app-home-card>
</ng-template>

<ng-template #deleteConfirmation>
  <div matDialogTitle>Delete game?</div>
  <div matDialogContent>This will remove the game from your device.</div>
  <div matDialogActions style="text-align: right">
    <button mat-button color="primary" matDialogClose="cancel">CANCEL</button>
    <button mat-button color="warn" matDialogClose="delete">DELETE</button>
  </div>
</ng-template>

<button routerLink="/create" mat-fab style="position: fixed; bottom:16px;right:16px">
  <mat-icon aria-label="Start a new game">add</mat-icon>
</button>
