:host {
  left:0;
  right:0;
  top:0;
  bottom:0;
  display:flex;
  flex-direction: column;
  position: absolute;
  font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

#app-content {
  overflow-y:auto;
  flex: 1;
  display: flex;
  flex-direction: column;
}
