<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{ game.players[0].name}} vs. {{ game.players[1].name }}
    </mat-card-title>
    <mat-card-subtitle>{{ getGameMoment().fromNow() }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <app-chart-score [game]="game"></app-chart-score>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="primary" [routerLink]="'game/' + game.id">RESUME</button>
    <button mat-button color="warn" (click)="deleteGame()">DELETE</button>
  </mat-card-actions>
</mat-card>
